{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
    {% block page_title %}
    {% endblock page_title %} | Nbnb
    </title>
</head>
<body class="text-gray-800 mt-24">
    
    <!-- 작게 나누어서 include로 기능 삽입! (Divide and Conquer) -->
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
        <div class="flex itemns-center w-1/3">
            <a href="{% url 'core:home' %}" class="mr-6">
                <img class="w-8" src="{% static 'img/logo.png' %}" />
            </a>
            {% block search-bar %}
            <form method="get" action="{% url 'rooms:search' %}" class="w-3/4">
                <input class="search-box border px-5 py-3 font-medium placeholder-gray-600 rounded-sm w-full shadow-md hover:shadow-lg" name="city" placeholder="Search by City" />
            </form>
            {% endblock search-bar %}
        </div>
        {% include "partials/nav.html" %}
    </header>
    <!-- content라는 이름은 가진 블럭 생성, 타 html 에서 block 통해서 참조 -->
    {% block content %}
    {% endblock %}
    
    {% include "partials/footer.html" %}

</body>
</html>